* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container div {
    padding: 15px;
}

header {
    display: grid;
    grid-template-columns: repeat(1fr, 5);
    background-color: rgb(8, 8, 141);
}


header h1 {
    grid-column: 1/2;
}

header button {
    grid-column: 3/4;
    font-size: 50px;
    border: 0;
    background-color: rgb(8, 8, 141);
}

header .img {
    grid-column: 5/6;
}

.head_el {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.card {
    width: 300px;
    height: 300px;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr); */

    display: flex;
    align-items: end;
    justify-content: space-around;

    border-radius: 10px;
    background-color: rgb(8, 8, 141);
}


.cardBtn {
    width: 100px;
    height: 50px;
    border: 2px solid yellow;
    border-radius: 10px;
    background-color: rgb(8, 8, 141);
    color: yellow;
}

.remove {
    grid-column: 1/2;
    grid-row: 5/6;
}

.read {
    grid-column: 2/3;
    grid-row: 5/6;
}

.register {
    width: 600px;
    height: 400px;
    background-color: #0091ea;
    border-radius: 20px;
    border: 2px solid yellow;
    font-size: 20px;


}

ul li {
    list-style: none;
    display: flex;
}