* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container div {
    padding: 15px;
}

header {
    display: grid;
    grid-template-columns: repeat(1fr, 5);
    background-color: rgb(8, 8, 141);
}


header h1 {
    grid-column: 1/2;
}

header button {
    grid-column: 3/4;
    font-size: 50px;
    border: 0;
    background-color: rgb(8, 8, 141);
}

header .img {
    grid-column: 5/6;
}

.head_el {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.card {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    border: 3px solid rgb(8, 8, 141);
}


.cardBtn {
    width: 100px;
    height: 50px;
    border: 2px solid yellow;
    border-radius: 10px;
    background-color: rgb(8, 8, 141);
    color: yellow;
}



.register {
    position: absolute;
    /* z-index: 1; */
    width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 24px;
    background-color: #fff;
}

.hidden {
    display: none;
}

ul li {
    list-style: none;
    gap: 10px;
    padding: 10px;
}

.register input {
    width: 100%;
    height: 30px;
}

.register button {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: 0;
}